@charset "utf-8";
/* CSS Document */
/*////// General page edits /////////*/
	body {
		background-color: rgb(19,19,19);
		color: rgb(230,227,223);
		font-family: tahoma;
	}
	
	h1 {
		color: rgb(230,227,223);
		text-align: center;
	}
	
	modifierPanel {
		display: block;
		text-align: center;
		width: 100%;
	}
	
	button {
		background-color: rgb(230,227,223);
		color: rgb(19,19,19);
		font-family: tahoma;
		font-weight: bold;
	}
	
	select {
		background-color: rgb(230,227,223);
		color: rgb(19,19,19);
		font-family: tahoma;
		padding: 5px;
		margin: 10px;
	}
	
	imgPanel {
		display: block;
		text-align: center;
	}
	
	imgContainer {
		width: 50%;
		max-width: 520px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		box-sizing: border-box;
		display: inline-block;
	}
	
	h2 {
		color: rgb(230,227,223);
		text-align: center;
	}
	
	canvas {
		width: 100%;
		aspect-ratio: 1 / 1;
		background-color: rgb(230,227,223);
	}
	
	#guess:hover {
		cursor: crosshair;
	}
	
	paramPanel {
		width: 50%;
		display: inline-block;
		text-align: right;
		margin-bottom: 5px;
	}
	
	label {
		color: rgb(230,227,223);
	}
	
	input[type="text"] {
		background-color: rgb(230,227,223);
		color: rgb(19,19,19);
		margin-right: 10px;
		margin-bottom: 2px;
		width: 50px;
		height: 15px;
	}
	
	input[type="range"] {
		background-color: rgb(230,227,223);
		vertical-align: middle;
		width: 55%;
		max-width: 415px;
		height: 15px;
		margin-bottom: 2px;
	}
	
	input::-webkit-slider-runnable-track {
		-webkit-appearance: none;
		position: relative;
		box-sizing: border-box;
		background-color: rgb(230,227,223);
		width: 100%;
		height: 20px;
		border-radius: 5px;
		overflow: hidden;
	} 
	input::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		position: relative;
		left: initial;
		bottom: 3px;
		background-color: rgb(201,190,177);
		margin-top: 5px;
	}
	
	/* input::-webkit-slider-runnable-track { */
		/* background-color: rgb(230,227,223); */
	/* }  */
	/* input::-webkit-slider-thumb { */
		/* background-color: rgb(201,190,177); */
	/* } */
	
	scorePanel {
		width: 30%;
		display: inline-block;
		text-align: left;
		margin-top: 3px;
		margin-left: 10px;
		vertical-align: top;
	}
	
	p {
		color: rgb(230,227,223);
		line-height: 0.52;
	}
	
	#scoreCheckbox {
		margin-top: 26px;
	}